.App {
  text-align: center;
}

a {
  color: #0080ff;
}

a:hover {
  color: #004bee;
  /* background-color: #f9d9a115; */
}

a.logo {
  font-family: "futura", serif;
  text-decoration: none;
  font-size: 36px;
}

a.logo:hover {
  font-family: "futura", serif;
  text-decoration: underline;
  font-size: 36px;
}

.face-image {
  /* padding: 100; */
  height: 237px;
  width: 257px;
  aspect-ratio: 1815/1679;
  border-radius: 50;
  pointer-events: none;
  padding-left: 25vmin;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: left;
  justify-content: Top;
  font-size: calc(10px + 2vmin);
  text-align: left;
  color: white;
  line-height: 0.3;

  font-family: pt-mono, monospace;
  font-style: normal;
  font-weight: 400;
}

#bgVideo {
  /* Set rules to fill background */
  min-height: 1080px;
  min-width: 1920px;

  /* Set up proportionate scaling */
  width: auto;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 50%;
  margin-top: -475px;
  left: 0;

  left: 50%;
  margin-left: -960px;
  /* 50% */
}

.noDragImage {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.App-body {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /* align-items: left; */
  justify-content: Top;
  font-size: calc(10px + 2vmin);
  text-align: left;
  color: white;
  line-height: 0.3;
  padding-top: 20;
  border: 1px solid #c3c3c3;

  font-family: pt-mono, monospace;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* border: 1px solid green; */
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 25vmin; */
  /* border: 10px solid green; */
}

/* .comment-text {
  padding-left: 25vmin;
  font-size: 1.2vw;
} */

.codebox-input {
  font-family: pt-mono, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 10px solid blue; */
  /* text-align: center; */
  min-height: 100vh;
  min-width: 100vw;
}

.App-link {
  color: #61dafb;
}

.overlayedPlaceholder {
  z-index: 1;
  position: absolute;
  color: #a3a3a3;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

pre {
  /* background: #000; */
  color: white;
  font-family: monospace;
  padding: 1ch;
}

pre.caret-block>span {
  background-color: hsla(1, 1%, 100%, 1);
  color: #000;
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #fff;
  }
}