body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* html,
body {
  overflow-x: hidden
} */

a.logo {
  font-family: "futura", serif;
  text-decoration: none;
  font-size: 36px;
  color: #131313
}

a.logo:hover {
  font-family: "futura", serif;
  text-decoration: underline;
  font-size: 36px;
  color: #131313
}

.logoWrapper {
  position: absolute;
  padding-left: 2vw;
  padding-top: 3vh;
  z-index: 1;
}