.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project {
    width: 100%;
    padding: 20px 0;
}

.project-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Futura', sans-serif;
}

.container-horizontal {
    display: flex;
    align-items: center;
}

.text-container {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.title {
    font-size: 36px;
    margin-block: 0;
    text-align: left;
}

.subtitle {
    font-size: 22px;
    margin-block: 10px 0 20px;
    width: auto;
    text-align: left;
    line-height: 1.4;
}

.buttons-container {
    margin-bottom: 20px;
}

.button {
    font-size: 18px;
    margin-top: 12px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: black;
    color: white;
}

.button::after {
    content: ' >';
}

.media-container {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 560px;
    /* height: 500px; */
}

.divider {
    border-bottom: 2px solid #ddd;
    margin: 0 20px;
}

.vimeo-wrapper {
    width: 560px;
    height: 500px;
}
.diagnosy-image {
    height: 250px; 
    margin: 0px;
}
.fitme-wrapper {
    height: 95px;
    justify-content: flex-start;
}
.icon {
    border-radius: 20.9px;
    margin-right: 5px;
    height: 100%;
}

.fitme-wrapper {
    padding-bottom: 0;
}

@media (max-width: 850px) {
    .project-content {
        flex-direction: column;
        padding: 0;
        padding-bottom: 30px;
    }

    .text-container {
        text-align: center;
        margin-right: 0;
    }

    .title {
        /* font-size: 24px; */
        text-align: center;
    }

    .subtitle {
        font-size: 16px;
        width: 300px;
        text-align: center;
    }

    .buttons-container {
        text-align: center;
    }

    .vimeo-wrapper {
        width: 560px;
        height: 200px;
    }

    .media-container {
        width: 100%;
        margin-top: 20px;
        width: 350px;
        height: auto;
    }

    .diagnosy-image {
        height: 250px; 
        margin: 0px;
    }
    .fitme-wrapper {
        justify-content: center;
        height: 72px;
    }
    .icon {
        border-radius: 15.84px;
        margin-right: 5px;
        height: 100%;
    }
}
