.App {
  text-align: center;
}

a {
  color: #0080ff;
}

a:hover {
  color: #004bee;
  /* background-color: #f9d9a115; */
}

a.logo {
  font-family: "futura", serif;
  text-decoration: none;
  font-size: 36px;
  /* color: white */
}

a.logo:hover {
  font-family: "futura", serif;
  text-decoration: underline;
  font-size: 36px;
  /* color: white */
}

a.link:after {
  display: inline-block;
  -webkit-transform: scale(0.5, 1);
  /* Safari and Chrome */
  -moz-transform: scale(0.5, 1);
  /* Firefox */
  -ms-transform: scale(0.5, 1);
  /* IE 9 */
  -o-transform: scale(0.5, 1);
  /* Opera */
  transform: scale(0.5, 1);
  /* W3C */
  content: ">";
  position: relative;
  margin-left: 2px;
}

.face-wrapper {
  width: 213.75px;
  height: 213.75px;
}

.face-image {
  width: 213.75px;
  height: 213.75px;
  border-radius: 18px;
  background-color: #dedede;
  z-index: 5;
  box-shadow: 17px 17px 43px #1a1a1a;
  padding-left: 0;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: left;
  justify-content: Top;
  font-size: calc(10px + 2vmin);
  text-align: left;
  color: white;
  line-height: 0.3;

  font-family: pt-mono, monospace;
  font-style: normal;
  font-weight: 400;
}

#bgVideo {
  /* Set rules to fill background */
  min-height: 1080px;
  min-width: 1920px;

  /* Set up proportionate scaling */
  width: auto;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 50%;
  margin-top: -475px;
  left: 0;

  left: 50%;
  margin-left: -960px;
  /* 50% */
}

.no-drag-image {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.App-body {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /* align-items: left; */
  justify-content: Top;
  font-size: calc(10px + 2vmin);
  text-align: left;
  color: white;
  line-height: 0.3;
  padding-top: 20;
  border: 1px solid #c3c3c3;

  font-family: pt-mono, monospace;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* border: 1px solid green; */
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 25vmin; */
  /* border: 10px solid green; */
}

/* .comment-text {
  padding-left: 25vmin;
  font-size: 1.2vw;
} */

.code-font {
  font-family: pt-mono, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 10px solid blue; */
  /* text-align: center; */
  min-height: 100vh;
  min-width: 100vw;
}

.App-link {
  color: #61dafb;
}

.overlayedPlaceholder {
  z-index: 1;
  position: absolute;
  color: #a3a3a3;
  padding-left: 157px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

pre {
  color: white;
  font-family: monospace;
  padding: 1ch;
}

pre.caret-block>span {
  background-color: hsla(1, 1%, 100%, 1);
  color: #000;
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #fff;
  }
}


.textedit-draggable-child {
  width: 564px;
  height: 308px;
  padding-bottom: 51px;
}

.console-draggable-child {
  width: 564px;
  height: 342px;
  padding-bottom: 51px;
}



.textedit-wrapper {
  background-color: #ffffff;
  border-radius: 14px;
  padding-bottom: 51px;
  /* width: 33vw;
  height: 18vw; */
  box-shadow: 17px 17px 43px #1a1a1a;
  z-index: 1;
  font-size: 21px;
  line-height: 0.5;
}

.top-console-bar {
  background-color: #ffffff;
  min-height: 31px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  margin: auto;
}

.top-console-bar span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 9px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.top-console-bar span:nth-child(1) {
  background-color: #ff605c;
}

.top-console-bar span:nth-child(2) {
  background-color: #ffbd44;
}

.top-console-bar span:nth-child(3) {
  background-color: #00ca4e;
}

.top-console-bar div:last-child {
  margin-left: 5px;
}

.noDragImage {
  /* height: 166.2px; */
  width: 12.5vw;
  /* aspect-ratio: 1815/1679; */
  border-radius: 1.04vw;
  background-color: #dedede;
  /* padding-top: 10px; */
  z-index: 5;
  /* box-shadow: 1vw 1vw 2.5vw #1a1a1a; */
}

.noDragImage img {
  pointer-events: none;
}

.console-wrapper {
  z-index: 4;
  color: white;
}

.codebox-input {
  background-color: #1e1e1e;
  border-radius: 14px;
  padding-bottom: 51px;
  width: 599px;
  height: 342px;
  box-shadow: 17px 17px 43px #1a1a1a;
  z-index: 1;
  line-height: 0.5;
}

.header-bar {
  background-color: #403434;
  min-height: 31px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  margin: auto;
}

.header-button {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 9px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.header-button.red {
  background-color: #ff605c;
}

.header-button.yellow {
  background-color: #ffbd44;
}

.header-button.green {
  background-color: #00ca4e;
}

.typewriter-container {
  padding-top: 26px;
  padding-left: 14px;
}

.textedit-draggable-child {
  position: absolute;
  top: calc(50% - 180px);
  left: calc(37% - 282px);
  /* transform: translate(-50%, -50%); */
  z-index: 1;
}

.console-draggable-child {
  position: absolute;
  top: calc(70% - 171px);
  left: calc(62% - 282px);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.face-wrapper {
  position: absolute;
  top: calc(25% - 106.875px);
  left: calc(50% - 106.875px);
  transform: translate(-50%, -50%);
  z-index: 3;
}

@media (max-width: 850px) {
  .textedit-draggable-child {
    width: 250px;
    height: 125px;
    padding-bottom: 51px;
  }

  .console-draggable-child {
    width: 282px;
    height: 171px;
    padding-bottom: 51px;
  }

  .textedit-wrapper {
    border-radius: 14px;
    padding-bottom: 20px;
    width: 325px;
    /* width: 33vw;
    height: 18vw; */
    box-shadow: 17px 17px 43px #1a1a1a;
    z-index: 1;
    font-size: 14px;
    line-height: 0.5;
  }

  .code-font {
    font-family: pt-mono, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }

  .overlayedPlaceholder {
    padding-left: 94px;
  }

  .codebox-input {
    border-radius: 16px;
    padding-bottom: 51px;
    width: 300px;
    height: 171px;
    box-shadow: 17px 17px 43px #1a1a1a;
    z-index: 1;
    line-height: 0.5;
  }

  .face-wrapper {
    width: 150px;
    height: 150px;
  }
}

.rainbowWrapper {
  width: 100vw;
  height: 118vh;
  display: flex;
  /* justify-content: center;
  align-items: center;
  position: relative; */
}

.center-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}



@media (max-width: 1275px) and ( max-height: 1150px)
{
  .textedit-draggable-child {
    top: calc(45% - 180px);
    left: calc(37% - 282px);
  }
  .console-draggable-child {
    top: calc(75% - 171px);
    left: calc(62% - 282px);
  }

  .face-wrapper {
    top: calc(17% - 106.875px);
    left: calc(50% - 106.875px);
  }
}

@media (max-width: 850px) {
  .face-image {
    width: 150px;
    height: 150px;
  }

  .textedit-draggable-child {
    top: calc(60% - 180px);
    left: calc(75% - 282px);
  }

  .face-wrapper {
    top: calc(34% - 106.875px);
    left: calc(85% - 106.875px);
  }
}

/* for when screen gets too long */
/* @media (min-height: 950px) and (min-width: 1000px){ 
  .face-wrapper {
    top: calc(32% - 106.875px);
  }

  .console-draggable-child {
    top: calc(66% - 171px);
    left: calc(54% - 282px);
  }
} */